{ :ar "ar"
  :auto-shebang false
  :binpath "/home/marcus_e/.config/jpm-tree/bin"
  :c++ "c++"
  :c++-link "c++"
  :cc "cc"
  :cc-link "cc"
  :cflags @["-std=c99"]
  :cflags-verbose @["-Wall" "-Wextra"]
  :cppflags @["-std=c++11"]
  :curlpath "curl"
  :dynamic-cflags @["-fPIC"]
  :dynamic-lflags @["-shared" "-pthread"]
  :gitpath "git"
  :headerpath "/nix/store/k7fhf5nfvddr86s79i3p5n08sfb79q7r-jpm-1.1.0/include/janet"
  :is-msvc false
  :janet "janet"
  :janet-cflags @[]
  :janet-lflags @["-lm" "-ldl" "-lrt" "-pthread"]
  :ldflags @[]
  :lflags @[]
  :libpath "/nix/store/k7fhf5nfvddr86s79i3p5n08sfb79q7r-jpm-1.1.0/lib"
  :local false
  :manpath "/home/marcus_e/.config/jpm-tree/man"
  :modext ".so"
  :modpath "/home/marcus_e/.config/jpm-tree/lib"
  :nocolor false
  :optimize 2
  :pkglist "https://github.com/janet-lang/pkgs.git"
  :silent false
  :statext ".a"
  :tarpath "tar"
  :test false
  :tree "/home/marcus_e/.config/jpm-tree"
  :use-batch-shell false
  :verbose false}